.service {
  padding: 140px 0 160px;
  background: $secondary-color;
  overflow: hidden;
  background: url(../images/sync/yoxel_sync_bg.svg);
  background-position: 50% 0;
  background-size: cover;

  @include mobile-xs {
    padding-bottom: 0;
  }
  .section-title {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .section-description {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}
